
.sumlis a:hover{
    color:white;
    background-color: black;
}
#profile_box:hover{
    animation-play-state: running;
    position:relative;
}
#profile-conteiner{
    animation-play-state:running;
}
#arrow-profile a:hover{
    color:aqua;
    text-shadow: 2px 2px teal;
}
#pets:hover{
    animation-play-state: running;
}
#languages_skills:hover{
    animation-play-state: running;
}
#arrow-lk a:hover{
    color:aqua;
    text-shadow: 2px 2px teal;
}
#arrow-pets a:hover{
    color:aqua;
    text-shadow: 2px 2px teal;
}
#arrow-gostos a:hover{
    color:aqua;
    text-shadow: 2px 2px teal;
}
#gostos:hover{
    animation-play-state: running;
}
#proj:hover{
    animation-play-state: running;
}

#Marnie:hover{
    width:400px;
    height: 500px;
}
#Chiriro:hover{
    width:400px;
    height: 500px;
}
#Shiroi:hover{
    width:400px;
    height: 500px;
}
#Satoshi:hover{
    width:400px;
    height: 500px;
}
#projeto a:hover{
    color: aqua;
}
#arrow-proj a:hover{
    color:aqua;
    text-shadow: 2px 2px teal;
}
#arrow-cur a:hover{
    color:aqua;
    text-shadow: 2px 2px teal;
}
.circle:hover{
    background-color:#073B3A;
}
#curiosidade:hover{
    animation-play-state: running;
}
#inspiração:hover{
    animation-play-state: running;
}

@keyframes up{
    from {
        opacity:0;
        transform: translateY(16px);

    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
.animated-up-pr{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
.animated-up-lk{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
.animated-up-pets{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
.animated-up-gostos{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
.animated-up-proj{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
.animated-up-curiosidade{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
.animated-up-inspiração{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
#arrow-insp a:hover{
    color:aqua;
    text-shadow: 4px 4px rgb(201, 103, 119);
}