*{
    margin: 0;
    padding: 0;
}
li,p{
    font-family: 'Source Sans Pro', sans-serif;

}
:root{
    font-size:15px;
}

body{
    color:white
}

#name{
    text-shadow: 3px 3px blueviolet
}
#name{
    color:aqua;
    font-family: 'Russo One', sans-serif;
    text-align:right;
    padding-right: 1.3%;
    text-shadow: 2px 2px blueviolet;    
}
#container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9bc27292880429.5e569ff84e4d0.gif");
   /* código, costumizado, pego em https://stackoverflow.com/questions/40081586/how-to-add-background-image-behind-container/40081668 */
    width:100%;
   z-index: 2;
    
}


#main_photo{
    border-radius: 10rem;    
}
#page-landing{
    color:#ffffff;
    background:linear-gradient(321.5deg,#993399 -35%,#000000  100%) no-repeat;
    min-height: 100vh;
}
#summary{
    text-align: center;
    padding-left: 100px;
}
#sumario{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 28px;
    color:rosybrown
}
#list li{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 26px;   
    font-weight: 600;
    text-shadow: 1px 1px #ff0000;
 
    }

#perfil{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:36px;
}
#txt_box{
    padding-left:30px ;
    padding-top:10px;
    padding-bottom:10px ;
}
#lists-profile{
    padding-left:30px ;

}
#languages{
    padding-bottom: 10px;
    padding-top: 5px;
}
#skills{
    padding-bottom: 10px;
    padding-top: 5px;
}
#amores{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:36px;
}
#boos{
   display:flex;
   justify-content:space-around;

}
#chiriro{
    border-radius: 25rem;    
}
#marnie{
    border-radius: 25rem;   
}
#satoshi{
    border-radius: 25rem;   
}   
#shiroi{
    border-radius: 25rem;   
}
#gostos{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:36px;
    padding-top:50px;
    padding-bottom: 20px;
}
#img-gp-box{
    align-items: center;
    justify-content: center;
    display:flex;
}
#lofi{
    border-radius: 20rem;
}
#maid_dragon{
    border-radius: 20rem;
}
#gameboy{
    border-radius: 20rem;
}
#gostos_box{
   align-items: center;
   justify-content: center;
    display: flex;
    padding-bottom: 9px;
    font-size:18px;
    

}
#projetos{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:36px;
    padding-top:50px;
    padding-bottom: 20px;
}
#rickyspaceship{
    align-items: center;
    justify-content: center;
    display:flex;
}
#inspiração{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:36px;
    padding-top:50px;
    padding-bottom: 20px;
}
#title_game{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: large;
    padding-bottom: 10px;
}
#proj_txt{
    padding-bottom: 50px;
    text-align: center;
}
#curiosidade{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:36px;
    padding-top:50px;
    padding-bottom: 20px;
}
#monka{
    text-align: center;
    font-size: larger;
}
#monka_box{
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#daltonic{
    text-align: center;
    font-size: larger;
}
#mapa{
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#insp{
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#bruno{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#Toby{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
 
}
#Kojima{
    text-align: center;


}

#bi{
    border-radius: 10rem;
    padding-right: 10px;
    padding-left: 10px;
}
#ti{
    border-radius: 10rem;
    padding-right: 10px;
    padding-left: 10px;
}
#ki{
    border-radius: 10rem;
}


#main_photo{
    animation-delay: 50ms;
}
#name{
    animation-delay: 100ms;
}
#summary{
    animation-delay:150ms;
}
#pp{
    animation-delay:200ms;
}
#amores{
    animation-delay:250ms;
}
#boos{
    animation-delay:300ms;
}
.link{
    color:teal;
}
