*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black ;
}

#id p{
    font-family: 'Source Sans Pro', sans-serif;
}
.bg{
    background-image:url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9bc27292880429.5e569ff84e4d0.gif");
    background-repeat:repeat-x,no-repeat;
    position:absolute;
    overflow:hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
html {
    scroll-behavior:smooth;
 
}

header{
    display:flex;
    justify-content:space-between;
    
}


#alan_photo{
    border-radius: 50%;
    width:20%;
}

#name-conteiner{
    font-family: 'Russo One', sans-serif;
    text-align: right;
    margin: 125px 50px 0px 0px;
    color: teal;
    text-shadow: 1px 1px blueviolet;
}
#name{
    font-size: 35px;
}
#undername{
    text-align: left;
    font-size: 25px;
}
.sumlis{
    
    margin: 0px 30px 0px 0px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 2px 2px red;
    display:flex;
    justify-content: center;
    
}
.sumlis a{
        color:rgb(68, 0, 156);
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3rem;
}
#summary{
    text-align: center;
    margin-top: 100px;
}
#sumtit{
    font-family: 'Russo One', sans-serif;
    color:rgb(248, 47, 47);
    font-size: 40px;
    text-shadow: 2px 2px royalblue;
}
#page{
    
    min-height: 100vh ;
    background:linear-gradient(-185.2deg,rgb(68, 0, 156) 0%, #000000 100%) no-repeat;
    z-index: 0;
}

#profile-conteiner{
    margin: 200px 250px 0px 250px;
    overflow:visible;
}
#profile-conteiner h1{
    color: whitesmoke;
    padding-top:20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#profile-conteiner p{
    margin-top: 45px;
    color: whitesmoke;
    line-height: 25px;
}

#profile-photo{
    display:flex;
    justify-content: center;
    margin: 35px 35px 0px 0px;
    overflow: hidden;
}
#profile-photo img{
    border-radius:50%;
    width:250px;
}
#end-profile{
    display:block;
    justify-content: center;
    align-items: center;
}

#arrow-profile a{
    margin-left: 10px;
    text-decoration: none;
    font-size:40px;
}
#language_skills_box{
    display:flex;
    justify-content: space-between;
    color:whitesmoke;
    margin: 130px 110px 130px 40px;
}
#languages_skills{
    opacity:0;
    padding: 200px 0px 200px 0px;
    
}
#languages_skills img{
    float:right;
    border-radius:10rem;
}

#arrow-lk a{
    margin-left: 10px;
    text-decoration: none;
    font-size:40px;
}
#arrow-lk{
    margin-left:220px;
}
.baixo{
    color:red;
    text-shadow: 2px 2px rgb(68, 0, 156);
}
.cima{
    color:darkorchid;
    text-shadow: 2px 2px red;
}
.tothetop{
    color:yellow;
    text-shadow: 2px 2px #7DAFDE;
}

#pets{
    margin-top:135x;
    padding-bottom:200px;
}
#pets h1{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0px 0px 80px 0px;
}
#petsbox{
    display: flex;
    justify-content: space-around;
        
}
#Marnie{
    border-radius: 100%;
    width:300px;
    height:400px;
}
#Chiriro{
    border-radius:100%;
    width:300px;
    height:400px;
}
#Shiroi{
    
    border-radius: 100%;
    width:300px;
    height:400px;
}
#Satoshi{
    border-radius: 100%;
    width:300px;
    height:400px;
}

#arrow-pets{
  
    font-size:40px;
    margin-left: 220px;
}
#arrow-pets a{
    margin-left: 10px;
    text-decoration: none;
}
#lofi img{
    width: 300px;
    border-radius: 100%;
}
#anime img{
    width: 300px;
    height:300px;
    border-radius: 100%;
 
}
#jogos img{
    width:300px;
    height: 300px;
    border-radius: 100%;
}
#gostos_box{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 100px;
}
#gostos_box p{
    color:whitesmoke;
    text-align: center;
    margin-bottom:10px;

}
#gostos h1{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px 0px 120px 0px;
}
#arrow-gostos{
  
    font-size:40px;
    margin-left: 220px;
    padding-bottom: 200px;
}
#arrow-gostos a{
    margin-left: 10px;
    text-decoration: none;
}
#image{
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px
}
#image img{
    width:400px;
}
#projeto a{
    text-decoration: none;
    color: rgb(68, 0, 156);
    font-size:30px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 45px;
    text-shadow: 2px 2px red;

}
#projeto{
    text-align: center;
}
#projeto p{
    padding:10px 0px 100px 0px;
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}
#proj h1{
    text-align: center;
    margin: 0px 0px 100px 0px;
    color:whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
}
#arrow-proj{
    font-size:40px;
    margin-left: 220px;
    
}
#arrow-proj a{
    margin-left: 10px;
    text-decoration: none;
    margin-bottom: 500px;
}
#curiosidade h1{
    text-align: center;
    color:whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
}
#curiosidade{
    margin-top:200px;
}
#cur_box{
    margin: 100px 0px 100px 0px;
    display: flex ;
    justify-content: space-around;
}
#cur_box p{
    color:white;

}
#monka,#daltonism{
    align-items: center;
    text-align: center;
}
#monka img,#daltonism img{
    width:300px;
    border-radius: 100%;
}
#daltonism img{
    margin-top: 40px;
}
#arrow-cur{
    font-size:40px;
    margin-left: 220px;
    padding-bottom: 650px;
}
#arrow-cur a{
    margin-left: 10px;
    text-decoration: none;
    
}
#inspbox  img{
    border-radius:100%;
    margin-right: 150px;
    width:300px;
}
#inspbox{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 150px
}

.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: lightblue;     
    }
#index_circles{
    display:grid;
    justify-items:baseline;
    margin:120px 0px 0px 60px;
}

#index_info{
    display: grid;
}
#connections{
    display: inline;
    justify-content:space-around ;
}
#connections img{
    border-radius: 50%;
    width:50px;
}
#website{
    border-radius: 0%;
}
#git,#website{
    -webkit-filter:invert(100%);
}

#info_txt{
    color:whitesmoke;
    margin: 118px 0px 0px 25px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    word-spacing: 5px ;
    
}

.simon_img{
    content:url("https://media-exp1.licdn.com/dms/image/C4D03AQHB9N54xRi94A/profile-displayphoto-shrink_800_800/0/1516842441449?e=1618444800&v=beta&t=OMlMup88H8RBwIbM4jiP31oqWBCd4WFMJgbaw56wgaU");
    animation-play-state: running;
}
.kojima_img{
    content:url("https://pbs.twimg.com/profile_images/914211724412166144/Bf2Yij9b.jpg");
    animation-play-state: running;
}

.connect{
    margin-left: 80px;
}
footer{
    background: white;
}
.main_social{
    
    /* margin-left: 1340px; */
}
#img_social{
    display: grid;
}
#img_social img{
    width: 50px;
}
#footerbox{
    display:flex;
    justify-content: space-between;
}
#txt_social{
  margin: 70px 0px 0px 30px;
}
#txt_social p{
    font-family: 'Roboto', sans-serif;  
    font-weight: 500;
}
#arrow-insp{
    font-size:80px;
    margin-top:50px;
    margin-right:120px
}
#arrow-insp a{
    margin-left: -25px;
    text-decoration: none;
    
}
